
// .header-top__repair-span,
// .header-top__check-status-span,
// .header-top__divider-tablet,
// .header-top__call,
// .header-top__chat,
// .header-top__profile,
// .main__description-tablet,
// .main__description-desktop {
//   display: none;
// }

// .header-top {
//   min-height: 88px;
//   min-width: 320px;
//   background-color: #ffffff;
//   border-bottom: #d9fff5 solid 1px;
//   display: flex;
//   margin: 0;
//   padding: 0;
//   align-items: center;
//   justify-content: space-evenly;
// }
// .header-top__burger {
//   background-image: url("../img/ic/burger.svg");
//   width: 40px;
//   height: 40px;
//   // background-size: auto; --------------------??-----
//   background-repeat: no-repeat;
//   // background-position: center;
// }

// .header-top__logo {
//   background-image: url("../img/ic/Group.svg");
//   width: 98px;
//   height: 52px;
//   background-repeat: no-repeat;
//   margin-top: 1px;
// }
// .header-top__divider {
//   height: 32px;
//   width: 2px;
//   margin: 4px 0;
//   background-color: #eaeaea;
//   border-radius: 1px;
//   margin-right: 5px;
// }

// .header-top__repair {
//   background-image: url("../img/ic/repair.svg");
//   width: 40px;
//   height: 40px;
//   background-repeat: no-repeat;
// }
// .header-top__ckeck-status {
//   background-image: url("../img/ic/checkstatus.svg");
//   width: 40px;
//   height: 40px;
//   background-repeat: no-repeat;
// }

// .main__title {
//   font-family: "TT Lakes Bold";
//   font-size: 28px;
//   color: #1b1c21;
//   padding-left: 16px;
//   line-height: 40px;
//   margin: 24px 0;
//   letter-spacing: -0.6px;
//   &::before {
//     content: "";
//     width: 4px;
//     height: 40px;
//     border-radius: 0 4px 4px 0;
//     background-color: #41f6d7;
//     position: absolute;
//     left: 0;
//   }
// }

// .main__list-buttons {
//   overflow-x: scroll;
//   display: flex;
//   margin: 0;
//   padding: 0;
//   align-items: center;

//   &::-webkit-scrollbar {
//     flex-shrink: 0;
//   }
//   &::after {
//     content: "";
//     position: absolute;
//     right: 0;
//     width: 24px;
//     height: 40px;
//     background: linear-gradient(to right, transparent, #f8f8f8);
//     z-index: 1;
//   }
// }

// .button {
//   width: max-content;
//   border: none;
//   background: none;
//   padding: 6px 17px 6px 14px;
//   margin: 0px 0px 4px 5px;
//   line-height: 24px;
//   font-family: "TT Lakes Medium";
//   font-size: 16px;
//   color: #7e7e82;
//   letter-spacing: -0.2px;

//   &:focus {
//     background-color: #ffffff;
//     border: #b8ffec solid 2px;
//     border-radius: 6px;
//   }
// }

#selected {
    margin: 0px 0px 4px 16px;
    background-color: #ffffff;
    border: #b8ffec solid 2px;
    border-radius: 6px;
  }
  /* пофиксить чтобы первая кнопка была  выделена по умолчанию но не всегда */
  
  // ----------------------------------------------------------------------//
  
  // .main__description {
  //   color: #1b1c21;
  //   font-family: "TT Lakes Regular";
  //   font-size: 14px;
  //   line-height: 18px;
  //   letter-spacing: 0.2px;
  //   margin: 5px 16px 0 16px;
  // }
  
  // .main__more {
  //   font-family: "TT Lakes Medium";
  //   font-size: 16px;
  //   line-height: 24px;
  //   letter-spacing: -0.2px;
  //   margin: 15px 15px 15px 48px;
  //   padding: 0;
  
  //   &::before {
  //     content: url(../img/expand.svg);
  //     position: absolute;
  //     left: 16px;
  //   }
  // }
  
  // .main__image {
  //   width: 100%;
  //   height: auto;
  //   margin-bottom: 24px;
  // }
  
  // @media (min-width: 768px) and (max-width: 1119.99px) {
  // .header-top__repair-span,
  // .header-top__check-status-span {
  //   display: none;
  // }
  // .header-top__burger {
  //   margin-left: 24px;
  // }
  // .header-top__divider-tablet {
  //   display: block;
  //   height: 32px;
  //   width: 2px;
  //   margin: 4px 0 4px 20px;
  //   background-color: #eaeaea;
  //   border-radius: 1px;
  // }
  // .header-top__logo {
  //   margin-left: 20px;
  // }
  // .header-top__call {
  //   display: block;
  //   background-image: url("../img/ic/call.svg");
  //   width: 40px;
  //   height: 40px;
  //   background-repeat: no-repeat;
  //   margin-right: 16px;
  //   margin-left: auto;
  // }
  // .header-top__chat {
  //   display: block;
  //   background-image: url("../img/ic/chat.svg");
  //   width: 40px;
  //   height: 40px;
  //   background-repeat: no-repeat;
  //   margin-right: 16px;
  // }
  // .header-top__profile {
  //   display: block;
  //   background-image: url("../img/ic/profile.svg");
  //   width: 40px;
  //   height: 40px;
  //   background-repeat: no-repeat;
  //   margin-right: 20px;
  // }
  // .header-top__divider {
  //   margin-right: 20px;
  // }
  // .header-top__repair {
  //   margin-right: 16px;
  // }
  // .header-top__ckeck-status {
  //   margin-right: 24px;
  // }
  // .main__title {
  //   padding-left: 24px;
  //   margin: 24px 0 32px 0;
  // }
  #selected {
    margin: 0px 3px 4px 24px;
  }
  
  // .button {
  //   margin: 0px 0px 4px 0px;
  //   padding: 6px 17px 6px 14px;
  // }
  
  // .description {
  //   display: flex;
  //   margin: 10px 20px 0 8px;
  //   justify-content: space-between;
  // }
  // .main__description {
  //   color: #1b1c21;
  //   font-family: "TT Lakes Regular";
  //   font-size: 14px;
  //   line-height: 20px;
  //   letter-spacing: 0.2px;
  //   margin: 3px 0px 0 16px;
  // }
  // .main__description-tablet {
  //   display: block;
  //   color: #1b1c21;
  //   font-family: "TT Lakes Regular";
  //   font-size: 14px;
  //   line-height: 20px;
  //   letter-spacing: 0.2px;
  //   margin: 4px 0px 0 16px;
  // }
  
  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   max-height: 208px;
  // }
  // .main__more {
  //   margin: 9px 15px 15px 49px;
  //   padding: 0;
  //   &::before {
  //     content: url(../img/expand.svg);
  //     position: absolute;
  //     left: 25px;
  //   }
  // }
  //   .main__image {
  //     margin-left: 40px;
  //     min-width: 360px;
  //     min-height: 208px;
  //     margin-bottom: 24px;
  //     border-radius: 10px 0 0 10px;
  //   }
  // }
  // @media (min-width: 1120px)  {
  // .header-top__repair-span,
  // .header-top__check-status-span {
  //   display: block;
  // }
  // .header-top__burger,
  // .header-top__divider-tablet,
  // .header-top__logo,
  // .header-top__call,
  // .header-top__chat,
  // .header-top__profile,
  // .header-top__divider {
  //   display: none;
  // }
  // .header {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-top: 15px;
  // }
  
  // .header-top {
  //   min-height: auto;
  //   min-width: auto;
  //   background-color: inherit;
  //   border-bottom: inherit;
  //   display: flex;
  //   margin: 0;
  //   padding: 0;
  //   align-items: center;
  //   justify-content: flex-end;
  // }
  
  // .header-top__repair,
  // .header-top__ckeck-status {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   margin: 0 30px 0 132px;
  // }
  
  // .header-top__repair-span,
  // .header-top__check-status-span {
  //   font-family: "TT Lakes Medium";
  //   font-size: 16px;
  //   line-height: 24px;
  //   letter-spacing: -0.2px;
  //   color: #1b1c21;
  //   min-width: max-content;
  //   position: relative;
  //   left: -130px;
  //   text-decoration: none;
  // }
  
  // .main__title {
  //   order: -1;
  //   padding-left: 32px;
  //   margin: 26px 0 30px 0;
  // }
  
  // .main__list-buttons {
  //   flex-wrap: wrap;
  //   margin-top: -20px;
  //   margin-left: 32px;
  //   align-items: baseline;
  //   &::after {
  //       display: none;
  //   }
  // }
  
  // .button {
  //   padding: 8px 22px;
  //   margin-bottom: 7px;
  //   &:focus {
  //     margin:0;
  //   }
  // }
  #selected {
    margin: 0;
  }
  // .description {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-top: -15px;
  //   margin-left: 19px;
  // }
  // .container {
  //   max-width: 510px;
  // }
  // .main__description-tablet {
  //   margin: 18px 0 0 16px;
  //   display: block;
  //   color: #1b1c21;
  //   font-family: "TT Lakes Regular";
  //   font-size: 14px;
  //   line-height: 20px;
  //   letter-spacing: 0.2px;
  // }
  // .main__description-desktop {
  //   display: inline;
  // }
  // .main__more {
  //   margin-top: 13px;
  //   margin-left: 47px;
  //   &::before {
  //     left: 32px;
  //   }
  // }
  // .main__image {
  //   margin-top: -8px;
  //   width: 540px;
  //   height: 307px;
  //   border-radius: 10px 0 0 10px;
  // }
  // }
  