@import "nullstyle";
@import url("../fonts/stylesheet.css");
body {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: #1B1C21;
    // min-width: 320px;
    // max-width: 360px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 30px 0 40px 0  #DDDEE6;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 24px 40px 24px;

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 154px;
}
a{
    display: inline-block;
}

}


.button-list {
    display: flex;
    flex-direction:column;
}
.button {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 32px;
    color: #1B1C21;
    background-color: inherit;
    margin: 0 0 24px 24px; 
    
    &:focus{
        color: #7E7E82;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            width: 4px;
            height: 32px;
            border-radius: 0 3px 3px 0;
            background-color: #41F6D7;
         }
    }    
}

footer {
    display: flex;
    flex-direction: column;
    margin: auto 0 32px 24px;

    
    .footer-icons{
        width: 152px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}


.mail{
    display: block;
    margin-bottom: 12px;
}

.tel{
    display: block;
    margin-bottom: 40px;
    font-family: "TT Lakes Bold";
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 32px;
}
.language{
    display: flex;
    justify-content: space-between;
    width: 87px;
    &-button{
        font-family: "TT Lakes Medium";
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 24px;
        background-color: inherit;
        text-transform: uppercase;
        &:focus{
            color: #7E7E82;
        }
    }
}

.burger,
.search,
.logo,
.language-button {
    &:hover {
        transition: 0.5s;
        transform: scale(1.1);
        transition-timing-function: ease-in-out;
}
}
.button,
.mail,
.tel {
    &:hover{
        // transition: 0.5s;
        // transition-timing-function: ease-out;
        // color: #C33762;
        text-decoration: underline;
    }
}

.call,
.chat,
.profile {
    line-height: 0;
    &:hover{
        // transition: 2s;
        // // transform: rotate(360deg);
        // transition-timing-function: ease-in-out;
        animation-name: move;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;

    }
}

@keyframes  move {
    25% {
        transform: rotate(20deg); 
    }
    50% {
        transform: rotate(-20deg); 
    }
    75% {
        transform: rotate(-20deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

