@charset "UTF-8";
/*Обнуление*/
@import url("../fonts/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: revert;
}

.visually-hidden {
  display: none;
}

/*--------------------*/
body {
  background-color: #f8f8f8;
  font-family: "TT Lakes Regular";
  color: #1b1c21;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
  }
}
@media (min-width: 1120px) {
  .wrapper {
    width: 1120px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
}
.header .smoother-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top {
  min-height: 88px;
  min-width: 320px;
  background-color: #ffffff;
  border-bottom: #d9fff5 solid 1px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-top {
    padding: 2px 24px 0 24px;
  }
}
@media (min-width: 1120px) {
  .header-top {
    min-height: auto;
    min-width: auto;
    background-color: inherit;
    border-bottom: none;
    justify-content: flex-end;
  }
}
.header-top__burger {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .header-top__burger {
    margin-left: 0px;
  }
}
@media (min-width: 1120px) {
  .header-top__burger {
    display: none;
  }
}
.header-top__divider-tablet {
  height: 32px;
  width: 2px;
  margin: 4px 0 4px 20px;
  background-color: #eaeaea;
  border-radius: 1px;
}
@media (min-width: 1120px), (max-width: 767px) {
  .header-top__divider-tablet {
    display: none;
  }
}
.header-top__logo {
  margin: 1px 0px 0 15px;
}
@media (min-width: 1120px) {
  .header-top__logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-top__logo {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 767px), (min-width: 1120px) {
  .header-top__call {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-top__call {
    margin-right: 15px;
    margin-left: auto;
  }
}
@media (max-width: 767px), (min-width: 1120px) {
  .header-top__chat {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-top__chat {
    margin-right: 17px;
  }
}
.header-top__profile {
  margin-right: 0px;
}
@media (max-width: 767px), (min-width: 1120px) {
  .header-top__profile {
    display: none;
  }
}
.header-top__divider {
  height: 32px;
  width: 2px;
  margin: 4px 2px 4px 0px;
  background-color: #eaeaea;
  border-radius: 1px;
}
@media (min-width: 768px) {
  .header-top__divider {
    margin-right: 2px;
    margin-left: 20px;
  }
}
@media (min-width: 1120px) {
  .header-top__divider {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-top__containerB-desktop {
    margin-right: 15px;
  }
}
@media (min-width: 1120px) {
  .header-top__containerB-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 7px 2px 0;
  }
}
.header-top__repair, .header-top__check-status {
  margin-right: 0px;
  margin-left: 15px;
}
@media (min-width: 1120px) {
  .header-top__repair, .header-top__check-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
}
.header-top__repair-span, .header-top__check-status-span {
  margin: 0;
}
@media (max-width: 1119px) {
  .header-top__repair-span, .header-top__check-status-span {
    display: none;
  }
}
@media (min-width: 1120px) {
  .header-top__repair-span, .header-top__check-status-span {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    min-width: -moz-max-content;
    min-width: max-content;
    margin: 0 9px 0 32px;
  }
}
.header__title {
  font-family: "TT Lakes Bold";
  font-size: 28px;
  padding-left: 16px;
  line-height: 40px;
  margin: 24px 0;
  letter-spacing: -0.6px;
}
.header__title::before {
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .header__title {
    padding-left: 24px;
    margin: 24px 0 32px 0;
  }
}
@media (min-width: 1120px) {
  .header__title {
    order: -1;
    padding-left: 32px;
    margin: 26px 0 30px 0;
  }
}

.main__list-buttons {
  overflow-x: scroll;
  display: flex;
  margin: 0;
  padding: 0 16px 0 16px;
  align-items: center;
}
.main__list-buttons::-webkit-scrollbar {
  flex-shrink: 0;
  display: none;
}
.main__list-buttons::after {
  content: "";
  position: absolute;
  right: 0;
  width: 24px;
  height: 40px;
  background: linear-gradient(to right, transparent, #f8f8f8);
  z-index: 1;
}
@media (min-width: 1120px) {
  .main__list-buttons {
    flex-wrap: wrap;
    margin: -20px 0 25px 32px;
    padding: 0;
    align-items: baseline;
  }
  .main__list-buttons::after {
    display: none;
  }
}
.main__list-buttons .button {
  width: -moz-max-content;
  width: max-content;
  border: transparent solid 2px;
  background-color: #F8F8F8;
  padding: 6px 17px 6px 14px;
  margin: 0px;
  line-height: 24px;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  color: #7e7e82;
  letter-spacing: -0.2px;
}
.main__list-buttons .button:focus {
  background-color: #ffffff;
  border: #b8ffec solid 2px;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .main__list-buttons .button {
    margin: 0px 0px 4px 0px;
    padding: 6px 17px 6px 14px;
  }
}
@media (min-width: 1120px) {
  .main__list-buttons .button {
    padding: 8px 21px;
    margin-bottom: 0px;
  }
}
.main .description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 24px 0px 0 0px;
}
@media (min-width: 768px) {
  .main .description {
    display: flex;
    margin: 24px 20px 0 8px;
    justify-content: space-between;
  }
}
@media (min-width: 1120px) {
  .main .description {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    margin-left: 19px;
  }
}
.main .container {
  margin: 0 16px 0 16px;
}
@media (min-width: 768px) {
  .main .container {
    margin: 0 0px 0 16px;
    display: flex;
    flex-direction: column;
    max-height: 208px;
  }
}
@media (min-width: 1120px) {
  .main .container {
    width: 510px;
  }
}
@media (min-width: 768px) {
  .main__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 3px 0px 0 0px;
  }
}
@media (max-width: 767px) {
  .main__description-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .main__description-tablet {
    margin: 20px 0px 0 0px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 1120px) {
  .main__description-tablet {
    margin: 18px 0 0 0px;
  }
}
@media (max-width: 1119px) {
  .main__description-desktop {
    display: none;
  }
}
.main__more {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 14px 15px 15px 32px;
}
.main__more::before {
  content: url(../img/expand.svg);
  position: absolute;
  left: 16px;
}
@media (min-width: 768px) {
  .main__more::before {
    left: 25px;
  }
}
@media (min-width: 1120px) {
  .main__more::before {
    left: 32px;
  }
}
@media (min-width: 768px) {
  .main__more {
    margin: 9px 15px 15px 34px;
  }
}
@media (min-width: 1120px) {
  .main__more {
    margin-top: 13px;
    margin-left: 29px;
  }
}
.main__image {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .main__image {
    margin-left: 50px;
    min-width: 360px;
    min-height: 208px;
    margin-bottom: 24px;
    border-radius: 10px 0 0 10px;
  }
}
@media (min-width: 1120px) {
  .main__image {
    margin: -8px 0 0 0;
    width: 540px;
    height: 307px;
    border-radius: 10px 0 0 10px;
  }
}/*# sourceMappingURL=style.css.map */