@charset "UTF-8";
/*Обнуление*/
@import url("../fonts/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: revert;
}

.visually-hidden {
  display: none;
}

/*--------------------*/
.slider {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  color: #1B1C21;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 30px 0 40px 0 #DDDEE6;
  position: fixed;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 24px 40px 24px;
}
.top .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 154px;
}
.top a {
  display: inline-block;
}

.button-list {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 32px;
  color: #1B1C21;
  background-color: inherit;
  margin: 0 0 24px 24px;
}
.button:focus {
  color: #7E7E82;
}
.button:focus::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  border-radius: 0 3px 3px 0;
  background-color: #41F6D7;
}

.slider-footer {
  display: flex;
  flex-direction: column;
  margin: auto 0 32px 24px;
}
.slider-footer .footer-icons {
  width: 152px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.mail {
  display: block;
  margin-bottom: 12px;
}

.tel {
  display: block;
  margin-bottom: 40px;
  font-family: "TT Lakes Bold";
  font-size: 24px;
  letter-spacing: -0.6px;
  line-height: 32px;
}

.language {
  display: flex;
  justify-content: space-between;
  width: 87px;
}
.language-button {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  background-color: inherit;
  text-transform: uppercase;
}
.language-button:focus {
  color: #7E7E82;
}

.burger:hover,
.search:hover,
.logo:hover,
.language-button:hover {
  transition: 0.5s;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
}

.button:hover,
.mail:hover,
.tel:hover {
  text-decoration: underline;
}

.call,
.chat,
.profile {
  line-height: 0;
}
.call:hover,
.chat:hover,
.profile:hover {
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes move {
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */